{{ with site.Data.shortcuts }}
<div class="td-toc-shortcuts mb-4">
  <div class="td-toc-title">
    <span class="td-toc-title__text">Quick Links</span>
  </div>
  <ul class="list-unstyled ps-2">
    {{ range . }}
    <li class="mb-2">
      <a href="{{ .url }}">
        {{- with .icon }}<i class="{{ . }} me-1"></i>{{ end -}}
        {{ .title }}
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}

<div class="td-toc" data-proofer-ignore>
{{ if not .Params.notoc -}}
  {{ $toc := .TableOfContents -}}
  {{ if and $toc (ne $toc `<nav id="TableOfContents"></nav>`) -}}
    <div class="td-toc-title">
      <span class="td-toc-title__text">{{ i18n "toc_on_this_page" }}</span>
      <a class="td-toc-title__link" title="{{ i18n "toc_top_of_page" }}" href="#"></a>
    </div>
    {{ $toc | safeHTML }}
  {{ end -}}
{{ end -}}
</div>
